@font-face {
    font-family: "BillieHarley";
    src: url(BillieHarley.ttf) format("truetype");
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 600px;
    margin: auto;
    text-align: center;
    background-color: blue;
}

.header {
    float: left;
    width: 100%;
    height: 20%;
    background-color: black;
}

.header>* {
    height: 100%;
    text-align: center;
}

.header.logo {
    width: 20%;
    line-height: 120px;
    font-family: 'BillieHarley', serif;
    font-size: 21pt;
    font-weight: bold;
    color: goldenrod;
    background-image: url('logo-background2.png');
    background-color: cornsilk;
}

.header.title {
    width: 60%;
    background-color: rgb(254, 253, 225);
}

.header.reserved {
    width: 20%;
    background-color: rgb(255, 235, 205);
}

.body {
    float: left;
    width: 100%;
    height: 70%;
    background-color: black;
}

.body>* {
    height: 100%;
}

.body.info {
    height: 90%;
    width: 25%;
}

.body.nevigator {
    height: 10%;
    background-color: mistyrose;
}

.body.contents {
    height: 90%;
    width: 75%;
    background-color: honeydew;
}

.body.info.login {
    height: 30%;
    width: 100%;
    background-color: lavender;
}

.body.info.email {
    height: 70%;
    width: 100%;
    background-color: lightgray;
}

.footer {
    float: left;
    width: 100%;
    height: 10%;
    background-color: aliceblue;
}