@font-face {
    font-family: "BillieHarley";
    src: url(BillieHarley.ttf) format("truetype");
    font-weight: normal;
}

@font-face{
    font-family: "Sansation_Regular";
    src: url(Sansation_Regular.ttf) format("truetype");
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 600px;
    margin: auto;
    text-align: center;
    background-color: blue;
}

.header {
    float: left;
    width: 100%;
    height: 20%;
    background-color: black;
}

.header>* {
    height: 100%;
    text-align: center;
}

.header.logo {
    width: 20%;
    line-height: 120px;
    font-family: 'BillieHarley', serif;
    font-size: 21pt;
    font-weight: bold;
    color: goldenrod;
    background-image: url('logo-background2.png');
    background-color: cornsilk;
}

.header.logo>a{
    color: goldenrod;
    font-style: normal;
    text-decoration: none;
}

.header.logo{
    transition-duration: 3s;
}

.header.logo:hover{
    transition-duration: 3s;
    background-position: -320px;
}

.header.title {
    width: 60%;
    background-color: rgb(254, 253, 225);
}

.header.reserved {
    width: 20%;
    background-color: rgb(255, 235, 205);
}

.body {
    float: left;
    width: 100%;
    height: 70%;
    background-color: black;
}

.body>* {
    height: 100%;
}

.body.info {
    height: 90%;
    width: 25%;
}

.body.nevigator {
    height: 10%;
    background-color: rgb(254, 253, 225);
}

.body.nevigator.ulist{
    margin: 0px;
    height: 100%;
    overflow: hidden;
    list-style: none;
    padding: 0%;
}

.body.nevigator.ulist>li{
    float: left;
    line-height: 48px;
    width: 25%;
    height: 100%;
    font-family: 'Sansation_Regular', serif;
    font-size: 12pt;
    font-weight: bold;
    transition-duration: 300ms;
}

.body.nevigator.ulist>li:hover{
    background-image:linear-gradient(to bottom, rgb(254, 253, 225) 20%, rgba(248, 194, 197, 0.468) 100%);
    color: brown;
    cursor: pointer;
    transition-duration: 500ms;
}
.body.nevigator.ulist>li:active{
    background-image:linear-gradient(to bottom, rgb(254, 253, 225) 20%, rgba(248, 198, 198, 0.969) 100%);
    transition-duration: 50ms;
}

.body.contents {
    height: 90%;
    width: 75%;
    background-color: honeydew;
}

.body.info.login {
    height: 30%;
    width: 100%;
    border: 3px dotted rgba(62, 145, 254, 0.402);
    background-color: lavender;
}

.login.header{
    width: 100%;
    height: 34%;
    line-height: 38px;
    font-family: 'Sansation_Regular';
    font-weight: bold;
    border-bottom: 3px dotted rgba(62, 145, 254, 0.402);
    color: aliceblue;
    background-color: lightsteelblue;
}
.login.idbox{
    float: left;
    width: 65%;
    height: 33%;
    background-color: lightsteelblue;
}
.login.pwbox{
    float: left;
    width: 65%;
    height: 33%;
    background-color: lightsteelblue;
}
.login.loginbutton{
    float: right;
    width: 35%;
    height: 66%;
    background-color: lightsteelblue;
}
#login_id{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 9pt;
}

#login_id:focus{
    outline: none;
    background-image: linear-gradient(to right, white 10%, rgb(224, 239, 251) 100%);
}

#login_id::placeholder{
    color: lightgray;
}

#login_pw{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 9pt;
}

#login_pw:focus{
    outline: none;
    background-image: linear-gradient(to right, white 10%, rgb(224, 239, 251) 100%);
}

#login_pw::placeholder{
    color: lightgray;
}

#login_button{
    outline: none;
    border: 2px dotted rgb(174, 224, 254);
    margin-top: 10px;
    padding: 0px;
    background-color: lightsteelblue;
    border-radius: 30px;
    font-family: 'Sansation_Regular', serif;
    font-weight: bold;
    color: aliceblue;
    width: 70%;
    height: 70%;
}

#login_button{
    transition-duration: 300ms;
}

#login_button:hover{
    transition-duration: 500ms;
    color: darkblue;
    background-color: aliceblue;
}

#login_button:active{
    transition-duration: 50ms;
    color: aliceblue;
    background-color: rgba(147, 178, 218, 0.564);
}


.body.info.email {
    height: 70%;
    width: 100%;
    background-color: lightgray;
}

.email *{
    float: left;
}

.email.header{
    height: 10%;
    width: 100%;
    line-height: 27px;
    color: dodgerblue;
    font-family: 'Sansation_Regular', serif;
    font-weight: bold;
    background-color: aliceblue;
}

.email.list{
    height: 90%;
    width: 100%;
    overflow-y: auto;
    background-color: rgb(213, 235, 255);
}

.email.list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.138);
}

.email.list::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.email.list::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-image: -webkit-linear-gradient(to bottom, aquamarine 15%, aqua 100%);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.email.list>ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-bottom: 0.3px solid aliceblue;
}

.email.list li{
    text-align: left;
    color: darkblue;
    width: 100%;
    border-bottom: 0.3px solid aliceblue;
}

.email.list li:hover{
    cursor: pointer;
    color: rgb(2, 101, 200);
    background-image: linear-gradient(to right, rgb(186, 217, 246) 20%, rgba(69, 160, 246, 0.724) 100%);
    transition-duration: 500ms;
}

.email.list li:active{
    background: linear-gradient(to right, rgb(186, 217, 246) 12%, rgba(16, 134, 244, 0.724) 100%);
    transition-duration: 500ms;
}

.footer {
    float: left;
    width: 100%;
    height: 10%;
    background-color: aliceblue;
}