p1{color:blue}
.second{background-color: rgb(203, 251, 251);}
#third{font-weight: bold;}
p2{font-style: italic; font-size: 15px;}
p3{line-height: 110%; background-color: grey;}
p4{color: bisque;}
span{font-size:150%; font-weight: bold;}